!!! xml
rss(version="2.0")
  channel
    title #{user} - #{listName}
    link(rel="hub",href="http://jga.no.de/hub")
    - tweets.forEach(function(tweet) {
      item 
        pubDate= tweet.created
        guid tweeterfeeds,#{user},#{listName},#{tweet._id}
        title 
          :cdata
            #{tweet.user_screen_name}: !{urlize(tweet.text)}
        link http://twitter.com/#!/#{ tweet.user_screen_name }/status/#{ tweet._id }
        description
          :cdata
            <div style="float: left; margin-right: 10px; width: 120px; text-align: center; overflow: hidden;">
              <img src="#{tweet.user_avatar}" width="48" />
              <p><a target="_blank" href="http://twitter.com/#!/#{ tweet.user_screen_name }">#{tweet.user_screen_name}</a></p>
            </div>
            <div>
              <p style="font-size: 18px;">!{urlize(tweet.text)}</p>
              <p>#{tweet.created}</p>
            </div>
    - })
